[2018-05-04 14:27] rgmills opened #1 "Discuss some additional configuration options"
Hello!

I stumbled upon this library before building my own, but there were a few things I was looking for that aren't currently available and am curious if you'd be interested in discussing adding them.

1. I don't want all secrets and values to be loaded, I'd like to either:
     - Provide a filter (i.e. `Func<SecretListEntry, bool>`)
     - Supply a list of ARNs of secrets I want to include
2.

[2018-05-04 15:30] Kralizek commented on #1
Hi @rgmills, thank you for your post.

I am definitely open to discuss features and accept pull requests to support them.

About your points,

1. I definitely see your case. I was thinking about limiting the access to secrets via IAM role permissions, but a filtering delegate or a fixed list of ARNs sounds good too.

2. This is definitely a good idea. Do you see the "skip" part to be per-secret or

[2018-05-04 16:41] rgmills commented on #1
@Kralizek

1. Ah, right.  I imagine guidance would be that one should really use IAM roles, but provide an out for those that choose not to or prefer a bit more control in code.  If adding support for a delegate to filter, the fixed list can be purely an consumer concern.  And, either approach would be complimentary to any IAM role permissions you may have configured.

2. Hmm, good question.  I co

[2018-05-05 15:49] Kralizek opened #2 "Filter secrets at configuration time"
As suggested by @rgmills in #1, the idea is to give the possibility to select which secrets to be imported.

[2018-05-05 15:52] Kralizek opened #3 "Possibility to customize the secret's key"
As suggested by @rgmills in #1, the idea is to offer an extension point that allows the user of this library to customize the key before adding the secret to the collection of configuration values available to bind.

[2018-05-05 15:52] Kralizek commented on #1
@rgmills I've created two separate issues to track the development of both bullets individually.

[2018-05-05 17:04] Kralizek commented on #2
@rgmills, in #4 I added support for this scenario.

[code]

[2018-05-05 17:07] Kralizek commented on #3
@rgmills, in #4 I added support for this scenario. I choose to go with a delegate in the shape of `Func<SecretListEntry, string, string>`.

Here is an example

[code]

[2018-05-05 17:10] #2 closed

[2018-05-05 17:11] Kralizek commented on #3
@rgmills,

[2018-05-05 17:11] #3 closed

[2018-06-01 13:06] rgmills opened #5 "Async loading causes blocking during test execution"
👋 I'm back!

I've been updating our integration tests (after a couple months of neglect) and encountered an issue with using this configuration provider.  A decent description of the issue (and how to reproduce) is available at https://github.com/aspnet/Configuration/issues/783 .  In short, when using xunit test collections and having multiple, it tends to create a deadlock while attempting to loa

[2018-06-01 14:47] rgmills commented on #5
Actually, may just need to ConfigureAwait all of the async calls to ISecretManager. I'll double check. I tried, but perhaps I didn't hit all of the API calls.

[2018-06-20 09:29] Kralizek commented on #5
Hi @rgmills, sorry for the delay.

Do you think you can make a PR where all the awaited calls are `ConfigureAwait(false)`ed ?

[2018-06-20 13:02] rgmills commented on #5
Hey, absolutely. I will get something up today. I think in my testing just ConfigureAwait(false) was sufficient. Triple checking then I'll open a PR.

[2018-06-21 09:58] #5 closed

[2018-08-10 09:19] elevate-andrewlock opened #7 "Release non-prerelease version"
Hi, thanks for this package - does exactly what I needed, and meant I didn't need to write the same thing!

I just have one request - please could you do a 1.0.0 release (i.e. not alpha)? Currently, if you try and reference this package from another (non pre-release) library you'll get warnings when packing NuGet packages:

[code]

Thanks! 🙂

[2018-08-10 15:07] Kralizek commented on #7
Hi! Thanks for the comment. I kept the package in pre-release because I never had time to finalize the API and the feature set.

On the other hand I haven't had any concrete idea for a while. So I might as well remove the alpha tag.

Right now I'm still on vacation. Would you mind push a PR?

[2018-08-10 20:14] elevate-andrewlock commented on #7
That makes sense - I've done the same thing before 🙂 You can always do new releases if those concrete ideas come back to you!

I've raised a PR, thanks, but enjoy your vacation!

[2018-08-11 00:00] #7 closed

[2018-09-26 07:47] pontusr opened #9 "Use default region from credentials"
Thanks for your work on this - replaced my own code with yours.

I would like to avoid specificying the region in code as this may change between development and production environments (for example).

As it cumbersome and anti-pattern to read a value from the configuration object during application configuration I would prefer if the region was using the default region (from the credentials profi

[2019-02-20 15:43] geedsen commented on #9
Not an issue but a request , suggestion. Would it be possible to add a AddUserSecretsManager that would use the current region, the region the current instance is running in? If it is possible to obtain that, I haven't found a way yet. Thanks

[2019-02-26 18:05] jabberwik commented on #9
As a workaround, you can get the default region with `Amazon.Runtime.FallbackRegionFactory.GetRegionEndpoint()` and pass that into your config.

[2019-04-01 04:52] jwu-au opened #11 "Unable to parse nested array"
Hi @Kralizek ,

Just trying to set a config in aws secrets manager like below:
[code]

It throws exception:
[code]

Can you have a simple test that it seems can't parse nested json array correctly?

Thank you

[2019-04-02 00:52] jwu-au commented on #11
Please consider below fixes:
[code]

I can do a PR with test properly.

[2019-04-02 06:23] Kralizek commented on #11
Hi @jwu-au,

Thank you for sharing this use case. Please make a PR so that I can see where the changes would affect the codebase.

[2019-04-03 00:26] jwu-au commented on #11
Hi @Kralizek ,

Please review the PR:
https://github.com/Kralizek/AWSSecretsManagerConfigurationExtensions/pull/12

Thanks,
Jing

[2019-04-19 10:04] #11 closed

[2019-07-26 02:00] mattbarry opened #16 "AWS X-Ray?"
Is there any way to include AWSSecretsManagerConfigurationExtensions requests in an AWS X-Ray trace?

[2019-08-01 12:57] jchannon opened #17 "LambdaException"
All has been working fine using this lib inside AWS Lambda but today we get this stack trace when our lambda/.net app starts. Any ideas?

[code]

[2019-08-01 13:23] Kralizek commented on #17
I have no idea. Could you create a minimal sample that reproduces the issue?

[2019-08-01 18:51] jchannon commented on #17
Due to VPC changes :)

[2019-08-01 18:51] #17 closed

[2019-08-07 15:26] #9 closed

[2019-10-03 13:58] HK8080 opened #20 "Issues against Localstack"
Hi,

I am quite new to AWS stuff and I am using your lib - btw, thanks for it - based on examples provided. I am using it from ASP.NET Core 2.2 app against AWS Localstack running in Docker. I found a few issues:

1) I had to set:

`opts.ConfigureSecretsManagerConfig = c =>
{
            c.AuthenticationRegion = <my_non_default_region_system_name>
};`

2) Deleted secrets are not filtered by default

[2019-10-03 15:27] Kralizek commented on #20
Hi @HK8080,
Thanks for posting your issue and I'm glad you find this library helpful!

Unfortunately, I never used Localstack so I don't have any direct experience.
Maybe @Erwinvandervalk, who added the support for alternative endpoints in #15, can provide you some help!

[2019-10-20 13:01] remcobosman commented on #20
I am having the same problem working against LocalStack, specifically number 3 is blocking me as I cannot get past that. I am happy to put in a pull request (but I think I do not have permissions to do so).

[2020-02-07 23:59] udlose opened #21 "JsonReaderException if entire secret value is an array of json"
If you create a Secret with a PlainText value that is an array of json, you will receive a JsonReaderException:

This is caused by the use of `JObject.Parse()` on the given value before it is determined whether or not it is an array.  The correct solution is to use `JToken.Parse()` instead.

Example:
[code]

[2020-02-08 00:25] Kralizek commented on #21
Hey @udlose, thank you for opening this issue and making the PR.

It all seems good but before I merge it, I'd like you to edit the open post of this issue with a sample of the json snippet that could be used to recreate the issue.

[2020-02-08 18:15] Kralizek commented on #21
I'm releasing version 1.2.1 with the fix of this issue.

[2020-02-08 18:15] #21 closed

[2020-03-04 14:40] KevM opened #23 "Refreshing provider with updated (rotated) secrets"
🥇 Thank you for this configuration extensions provider! 🥇

It seems that there are [reload capabilities in the configuration extensions](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.configurationprovider.getreloadtoken?view=dotnet-plat-ext-3.1#Microsoft_Extensions_Configuration_ConfigurationProvider_GetReloadToken) that are up to the provider to implement.

[Examp

[2020-03-07 13:54] Kralizek commented on #23
Hi @KevM, it would be an interesting addition. Unfortunately I don't have enough knowledge of configuration providers with reload capabilities so it will take a while before I can produce something.

I would gladly welcome a pull request both to implement the feature or just show the basic way.

[2020-03-08 21:15] KevM commented on #23
Ok. I can look into this for the long term if we continue to us this nuget.
Currently we are running into a blocker given that we need our
dependencies to be signed.

On Sat, Mar 7, 2020 at 7:54 AM Renato Golia <notifications@github.com>
wrote:

[2020-04-04 21:25] aensidhe opened #24 "FR: Read just specified keys"
Hi.

Thanks for great library.

We don't allow our applications in production to enumerate secrets in account. Instead we give them one or several full paths to secrets that app will need and it can access only them.

I can provide a PR, but I'm not sure how to approach this. E.g. we can provide something like `AllowedKeys` as a property in `SecretsManagerConfigurationProviderOptions` and if it's

[2020-04-05 08:23] Kralizek commented on #24
Hi @aensidhe
Thank you for opening this feature request.

I'm a bit thorn about whether or not this use case is actually within the scope of this library.

From one side I'd say "of course, it helps configuring", but on the other side the basic idea was to have a simple API.

It would be cool if you could share how you imagine this feature to be used. Would you mind adding a code snippet of what y

[2020-04-05 12:14] aensidhe commented on #24
First of all, it's totally fine to keep easy to use API, I admire that approach.

Answering your question:

Now I use your library like this:
[code]

And outside of my machine it doesn't work, since this requires an ability to enumerate secrets in whole account.

I'd like to use it like this:

[code]

or

[code]

Probably you're right and that should separate library.

[2020-04-05 12:39] Kralizek commented on #24
Have you thought about playing with the secrets visible to the IAM role used by the application?

The library would only enumerate through the keys visible to your application.

[2020-04-10 15:45] jacobkiers commented on #24
I would like this feature as well, since I have no control over the access rights and IAM policies for these secrets.

[2020-04-10 21:06] aensidhe commented on #24
@Kralizek thanks, but I'm not sure I have that control in current company. I'll see what I can do, thanks. In the meantime, issue can be closed, unless somebody else thinks it's worth the hurdle.

[2020-04-30 16:30] AnturGyffrous opened #25 "Provide my own IAmazonSecretsManager client"
I do not have a _default_ AWS profile setup as I have several different sets of credentials for different projects and AWS accounts. I would like to be able to provide my own IAmazonSecretsManager client and not have `SecretsManagerConfigurationProviderOptions` create one for me.

AWS provide an [AWSSDK.Extensions.NETCore.Setup](https://www.nuget.org/packages/AWSSDK.Extensions.NETCore.Setup/) NuGe

[2020-05-07 03:02] rezmag-wontok opened #26 "Ignoring keys"
Hi there,

thanks for creating this useful library. I would like to suggest providing a facility to skip key/value pairs in SecretManager somewhere if not easily with  Options.KeyGenerator returning null to mean ignore the key?

The reason I want this feature is then I can have different sets of key/value pairs for each environment with the keys start with env name. Then I compare the key with env

[2020-05-07 03:38] #26 closed

[2020-05-07 03:39] rezmag-wontok commented on #26
SecretFilter already does that. Sorry.

[2020-07-14 09:40] Kralizek commented on #23
Fixed by #27

[2020-07-14 09:40] #23 closed

[2020-07-14 10:11] Kralizek opened #28 "Broken tests when executed locally"
Tests in `SecretsManagerConfigurationSourceTests` are broken when executed locally.

They work in CI/CD because we have custom environment variables set by AppVeyor https://github.com/Kralizek/AWSSecretsManagerConfigurationExtensions/blob/56d34a4af6c0caeebf9ae2752e8146637cc4fae2/appveyor.yml#L3-L6

Developers should be able to execute tests and the full build chain on their local machines.

[2020-07-14 11:24] #28 closed

[2020-07-16 12:31] #25 closed

[2020-08-04 14:21] alexisatkinson commented on #24
I had a similar requirement.  In terms of permissions, the extension requires kms:Decrypt, kms:Encrypto, secretsmanager:ListSecrets and secretsmanager:GetSecretValue.

If anyone is in a similar boat and can alter the IAM Policy attached to the role/user/group then something like the following works:

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "",
            "Ef

[2020-09-17 10:51] diegofrata commented on #24
I think it's a fair use case to skip the listing of secrets if the aliases or ARNs are known in advance.

[2020-10-09 17:44] alex-bolenok-centralreach commented on #24
The way I understand it, `ListSecrets` is an all or nothing deal: you either have the permission to do that or you don't.

Is there a way to limit the output from `ListSecrets` using IAM policies I'm not aware of?

`ListSecrets` accepts [filters](https://docs.aws.amazon.com/secretsmanager/latest/apireference/API_ListSecrets.html), can we may expose them as a configuration option?

[2020-11-03 09:55] yzfurkan commented on #24
I can not use your second code:
`options.AllowedKeys = { Environment.GetEnvironmentVariable("ENV_VAR_NAME") };
`
It gives me the error below:

[code]

[2020-11-03 09:56] yzfurkan commented on #24
I can not use your second code @aensidhe :
`options.AllowedKeys = { Environment.GetEnvironmentVariable("ENV_VAR_NAME") };
`
It gives me the error below:

[code]

[2020-11-24 14:46] cjames9001 commented on #24
I would also like to see this feature as well, best practice security is to only give the minimum access necessary to perform the required action. Listing every secret first isn't necessary when you know exactly what secrets you are interested in in the first place.

[2020-11-26 20:05] julealgon commented on #24
Interesting that so many people want this like I do. Started using the library recently and immediately hit this problem: the role assigned to the lambdas do not have the `ListSecrets` permission, and this is how other applications in our stack work as well.

Wouldn't it be possible to just rely on the current `SecretFilter` property to perform this? Instead of making it just a simple predicate fu

[2020-11-26 20:34] Kralizek commented on #24
So, I was looking at this issue together with @kipters who volunteered to solve it.

The problem is that it would require a major rework of the internals of this library, hence why I haven't worked on it sooner.

[2020-11-26 20:51] julealgon opened #38 "Change Request: Use 'AWSSDK.SecretsManager.Caching' internally"
From the looks of it, this library has custom in-memory caching of the secrets it reads from AWS Secrets Manager. At the same time, there exists a supported library from AWS that has native inmemory caching for the calls.

I believe it would be beneficial for this provider to rely on that existing implementation instead of creating its own version.

[2020-11-27 01:10] Kralizek commented on #38
hey @julealgon,
thank you for opening this issue. Feel free to open a pull request where you illustrate how this can be implemented.

[2020-11-27 13:10] julealgon commented on #24
Thanks for the update @Kralizek . As I mentioned, there is a high chance that we'll have to abandon the library soon when going to production, as we anticipate not being able to provide the `ListSecrets` permission to our roles at this time.

If at all possible, do let us know about any ETA for this one if there is a plan to support it in the future.

[2020-11-27 16:56] Kralizek commented on #24
I don't have an ETA to be frank. I am between jobs right now so you can understand it's hard for me to find the time for this.

As for every open source project, contributions from the user base are always welcome, even if just to create a PoC.

[2020-12-28 19:55] sol-wasserman opened #40 "Package dependency conflicts"
Nuget refuses to add this package as a dependency because: `NU1107: Version conflict detected for AWSSDK.Core. Install/reference AWSSDK.Core 3.5.1.54 directly to resolve this issue. Kralizek.Extensions.Configuration.AWSSecretsManager 1.4.1 -> AWSSDK.SecretsManager 3.3.0 -> AWSSDK.Core (>= 3.3.21.20 && < 3.4.0)`.

And when referencing the latest `AWSSDK.Core` package directly, Nuget would warn when

[2020-12-28 20:19] Kralizek commented on #40
Hi, have you tried pinning the latest version of AWSSDK.SecretsManager in your project file?

[2020-12-28 21:09] sol-wasserman commented on #40
It solved the issue, thank you!

[2020-12-28 21:09] #40 closed

[2020-12-29 12:05] TheRubble opened #41 "Reloading configuration without polling"
I've got a use case where I need to reload configuration but don't wish to use polling (In a particular sensitive code base where performance etc. is everything).

[code]

Would you have an objections if I raised this as a PR? I chose to go down adding the new method rather than opening up the access to the existing method so I'd clearly show the intent.

[2020-12-29 16:05] Kralizek commented on #41
Please do open a PR but, before committing to merge it in, I want to give a look at the changes you suggest.

[2020-12-30 08:46] TheRubble commented on #41
As requested : https://github.com/Kralizek/AWSSecretsManagerConfigurationExtensions/pull/42

[2020-12-30 10:55] Kralizek commented on #41
Hi @TheRubble

Thank you for the PR!

I have a feeling that the Configuration stack already has support for on-demand reload.

Did you check if `IOptionsSnapshot` works for your case?

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-5.0#use-ioptionssnapshot-to-read-updated-data

I haven't tried it myself, but if I understand the sample correctly, the

[2020-12-30 12:59] TheRubble commented on #41
So I don't think that'll work, IOptionsSnapshot is the correct mechanism and would work if I was using the polling support in the library as that looks like it's triggering the ReloadToken hence telling the interested consumers that the configuration has changed.
However because

[2020-12-30 13:20] Kralizek commented on #41
Interesting.

How would you bind the new method to the monitor and the snapshot?

[2020-12-30 14:19] TheRubble commented on #41
I don't believe I need to, the underlying plumbing appears to register against the reload token from the configuration provider and hence knows when it's been triggered.

[2020-12-30 15:50] Kralizek commented on #41
But your `ForceReloadAsync` is not part of any interface, is it? How would it be called from the Configuration infrastructure?

[2020-12-30 16:24] TheRubble commented on #41
It's not. The flow is ```ForceReloadAsync > ReloadAsync > FetchConfigurationAsync > SetData(triggerReload : true) > OnReload```. The OnReload function :

[code]

When that token is triggered AFAIK the stack above then knows that the underlying data has changed and it can then reload etc.

To call ForceReloadAsync I'd have to get the instance out of the IOC container.

[2021-01-06 07:15] TheRubble commented on #41
Hi @Kralizek,

Any further thoughts?

Thanks

[2021-01-07 11:41] Kralizek commented on #41
Hey! Sorry for disappearing. It's been holiday times here so I haven't spent much time on GitHub in general.

As soon as I have some time I'll try your PR and give some feedback. :)

[2021-01-17 16:24] armitagemderivitec opened #43 "Upgrade to latest SDK"
Is it possible to upgrade this package to use the latest AWSSDK packages?

We have upgraded to the latest versions and now have a lot of build warning because of the upper constraint of version 3.4 on AWSSDK.Core.

[2021-01-17 23:59] Kralizek commented on #43
Hi @armitagemderivitec,

Please check if the solution shown in the issue #40 helps your case.

[2021-01-18 20:54] armitagemderivitec commented on #43
Sorry to waste your time! I don't know why this didn't occur to me.

[2021-01-18 20:54] #43 closed

[2021-01-21 20:14] TheRubble commented on #41
Anything I can do to move this forward?

[2021-01-22 08:52] Kralizek commented on #41
Hey @TheRubble,

sorry for the delay. I wanted to investigate alternative ways but I couldn't find any that was really better than the suggested solution.

I'll merge your PR in.

[2021-01-22 08:52] #41 closed

[2021-02-10 05:54] nathanaelk opened #44 "Update dependencies"
Current version of AWSSDK.SecretsManager (3.3.0)  requires AWSSDK.Core versions between 3.3.21.20 & 3.4.0. We had to downgrade a lot of AWSSDK.* packages to prevent incompatibility. Would it be possible to update the dependencies to the latest versions available. I tried and successfully an all the tests on them.
Will also be more than happy to help with maintaining the repo.

[2021-02-10 09:21] Kralizek commented on #44
Hi @nathanaelk

Please check if the solution shown in the issue #40 helps your case.

[2021-02-10 09:48] nathanaelk commented on #44
Hey @Kralizek ,
the solution from issue #40 works for me.  Thank you for the prompt response and for making this package available for all of us

[2021-02-10 09:55] Kralizek opened #45 "How to use this library with newer versions of the AWS SDK"
A very common issue being reported when trying to install this package in a project using packages of the AWS SDK newer than 3.3.

This issue is caused because the AWS SDK has strict version boundaries forcing the usage of packages within the same major version family (e.g. you can't mix the AWS S3 3.5 package with AWS EC2 3.3 package).

This library is built targeting the AWS SDK 3.3 but, unlike

[2021-02-10 09:56] Kralizek commented on #44
I'm glad it worked. Would you please give a look at the issue I just pinned and let me know if it's not clear enough for others having the same issue in the future?

[2021-02-10 10:01] Kralizek commented on #43
Added pinned issue #45

[2021-02-10 16:39] nathanaelk commented on #44
Looked at #45 and it looks great. May be worth adding a reference to it in the README.
Thanks again.

[2021-02-11 09:09] Kralizek commented on #44
Good idea, in the meantime I will close this issue :)

[2021-02-11 09:09] #44 closed

[2021-04-08 10:42] #24 closed

[2021-04-20 18:53] mirkogeffken opened #48 "Secrets that look like Json Arrays or Objects (but are not) do not work"
Secrets that look like arrays or objects (start with "[" or "{"), but are not actually Json do not work. e.g. a secret being "{THIS IS NOT AN OBJECT" or "[THIS IS NOT AN ARRAY" do not work. There is a function in the source checking for the value starting with these called IsJson, which is probably too simplistic a check (maybe JToken.Parse and check for JsonReaderException instead)?

[2021-04-21 08:09] Kralizek commented on #48
Hi @mirkogeffken, thank you for opening this issue. Do you want to give a try at tackling this issue?

[2021-04-27 08:59] #48 closed

[2021-04-27 21:17] udlose opened #52 "Continuous JsonReaderExceptions thrown every couple seconds"
I just upgraded to v1.6.0 today and noticed that I'm getting these exceptions every couple of seconds while the app is idle:
`Exception thrown: 'Newtonsoft.Json.JsonReaderException' in Newtonsoft.Json.dll ("Unexpected character encountered while parsing number: G. Path '', line 1, position 7.")`

Here is the call stack:
![image](https://user-images.githubusercontent.com/656118/116313449-61dec880-a

[2021-04-27 21:48] udlose commented on #52
I also see a HUGE number of exceptions from SecretsManager:
[code]

[2021-04-28 16:39] Kralizek commented on #52
Is your secret value a non valid json string? I would assume this could be caused by #50

[2021-04-28 17:37] Kralizek commented on #52
[This commit](https://github.com/Kralizek/AWSSecretsManagerConfigurationExtensions/pull/51/commits/575c1e29ff041a528431784597a7d3dcfb45e4b7) should limit the amount of exceptions in the first case.

[2021-04-28 17:45] udlose commented on #52
I'm pretty sure none of our secrets are explicitly in JSON - meaning that SecretsManager would be the one responsible for returning/formatting the JSON.

[2021-04-29 17:41] udlose commented on #52
This fixed the issue for me - thanks!

[2021-04-29 17:41] #52 closed

[2021-05-04 07:58] hslavkov opened #53 "Sanitize secrets' names when using AddSecretsManager's AcceptedSecretArns option"
Hi,

When using the option SecretFilter the secret is retrieved by its name
When using the option AcceptedSecretArns the secret is retrieved by its ARN

In SecretListEntry class there's no difference between values of Name and ARN properties although the summary of Name suggests it to be the friendly name of the secret.

Suggestion:
Make AcceptedSecretsArns return the expected friendly name in Nam

[2021-05-05 10:26] Kralizek commented on #53
Hi @hslavkov

Sorry for the late answer. Quite busy nowadays.

Could you please run something like the snippet below to show how the items are added to the configuration system?

[code]

[2021-05-05 10:58] hslavkov commented on #53
No problem and thanks for replying!

This seems to be getting all the secret and their values in this way (note that my user has no restrictions):

**SecretName:0:KeyName = '## SECRET VALUE ##'**

[2021-05-05 11:17] hslavkov commented on #53
The point is, when you use the .AddSecretsManager() configuratior options.AcceptedSecretArns then the secret would be returned like this:

**ARN:SecretName:0:KeyName = '## SECRET VALUE ##'**

[2021-05-05 13:04] Kralizek commented on #53
Yeah, it feels wrong to me as well.

[2021-05-06 04:42] stKris commented on #53
Thanks for the effort guys, can’t wait for this to be merged :)

[2021-05-19 10:55] #53 closed

[2021-05-19 10:57] Kralizek commented on #53
@hslavkov would you mind testing if the artifacts produced by [this build](https://ci.appveyor.com/project/Kralizek/awssecretsmanagerconfigurationextensions/builds/39228686) are behaving as expected?

[2021-05-19 12:23] hslavkov commented on #53
@Kralizek hi, I hereby confirm that with this pre-release version **options.SecretFilter**  and **options.AcceptedSecretArns**  options provide secrets in the same way where key to the secret is the secretName. Looks good to me! This fixes the problem of the prepended arn to the secret name => ARN:SecretName that came in with version 1.6.1

Thank you, please do comment on releasing this version of

[2021-05-19 12:59] Kralizek commented on #53
@hslavkov I just released [version 1.6.2](https://github.com/Kralizek/AWSSecretsManagerConfigurationExtensions/releases/tag/v1.6.2). It should be on NuGet in half an hour.

[2021-06-25 18:53] a-milburn opened #55 "Question on using SecretsManagerConfigurationProviderOptions.PollingInterval"
I have set the PollingInterval with the intention that it refreshes the configuration values on a timed interval. I need this feature as our key rotation service refreshes the database password at regular intervals.

My assumption is that Entity Framework would pick up the new database credentials...but apparently, it does not. I had to go in and manually restart the service in order for it to pic

[2021-06-25 23:56] Kralizek commented on #55
I would say it depends on how you registered EF and if it pulls the fresh configuration every time a context is created.

[2021-06-26 06:00] a-milburn commented on #55
Yeah, doesn't appear to be a way of changing this behaviour.

[2021-07-02 16:14] #55 closed

[2021-07-12 11:49] goors opened #56 "How to access secrets json and bind to a class?"
If i have secret called Config and in it plain:

[code]

[code]

Where `DataAccessOptions` is a class with:

[code]

As far as I can tell this does not work.

This does not work as well.

`var options = new DataAccessOptions();`
`hostContext.Configuration.GetSection("Config").Bind(options);`

this does not work
`hostContext.Configuration.GetSection("Config");`

**Only thing that works is:**

 `hos

[2021-07-12 12:12] goors commented on #56
I am sorry. So stupid class is wrong. Config is extra property.

[2021-07-12 12:12] #56 closed

[2021-08-05 02:04] mehul9595 opened #57 "Is it possible to provide AcceptedArns through config file?"
Hello,

I'm trying to decouple accepted ARNs list from the program.cs to a config file, I have my config options defined below in appsettings.json,

[code]

Then from the code, I just call the manager like below

[code]

Here, I'm not sure if the accepdSecretArns would be passed down to the library since I don't have the environment to test AWS secrets manager. Could you share your thoughts if thi

[2021-08-24 14:21] Kralizek commented on #57
Hi @mehul9595

As of right now it is not possible to do as you ask. It should be tested how is it possible to use the configuration system to configure a configuration provider. Unfortunately, I never tried it before.

[2021-09-02 18:17] kpenergy commented on #38
Keep in mind that the [AWSSDK.SecretsManager.Caching](https://github.com/aws/aws-secretsmanager-caching-net) package is pretty outdated and has not been updated since May 2020. It requires a fairly old version of AWSSDK.Core if I remember correctly.

[2021-09-07 10:18] kpenergy opened #58 "Take AWS options from appsettings"
This is a nice little library, but one issue that I'm having is that it doesnt take AWS options from appsettings. What are your thoughts on supporting this?

For example, if I have the following in my appsettings file, I'd want this information to be used when creating the Secrets Manager client:
[code]
At the moment, it only seems to use the information in the `credentials` file, or if the `AWS_P

[2021-09-07 11:06] kpenergy opened #59 "Document that `AcceptedSecretArns` supports friendly names & partial ARN's"
The `SecretsManagerConfigurationProviderOptions.AcceptedSecretArns` property's name suggests that it only supports full ARN's. However, the value's specified here are used as the `SecretId` in a `GetSecretValueRequest`, which means they can be:
- Full ARN (including random 6 characters at end)
- Partial ARN (excluding random 6 characters at end)
- Friendly Name

It would be good if either:
- The p

[2021-09-07 12:17] Kralizek commented on #58
Hi @kpenergy

I confess I haven't tried too much but my understanding is that this library main piece is a configuration provider and therefore there is no configuration available at the time of execution.

[2021-09-07 12:19] Kralizek commented on #59
Hi @kpenergy

Thanks for opening this issue. Right now I don't have the time to invest in this library but I welcome contributors to propose changes with PRs: this applies both to the source code and to the documentation.

[2021-09-07 12:37] kpenergy commented on #59
@Kralizek No worries, I'll try and submit an update to the docs over the next few days.

[2021-09-07 12:50] kpenergy commented on #58
I think the configuration is available at execution time (providing it has been added to the `IConfigurationBuilder` that's extended in the [`AddSecretsManager` method](https://github.com/Kralizek/AWSSecretsManagerConfigurationExtensions/blob/7a2dd158185871c16510981dd1c3cc5247dc502b/src/Kralizek.Extensions.Configuration.AWSSecretsManager/SecretsManagerExtensions.cs#L12)).

I think we'd just need t

[2021-09-07 18:55] devklick commented on #59
Created PR #60 to update docs and comments

[2021-09-08 09:15] #59 closed

[2021-09-08 09:25] Kralizek commented on #58
@kpenergy if that works, we could also solve this one #57

[2021-09-08 21:50] devklick commented on #58
I've made a start on this an have the basic POC working, allowing AWS configuration (the region & profile) and the secrets manager configuration (ARN list, filters, polling interval) to be read from a configuration section.

The idea is that we can support something like this in our appsettings file:
[code]
And to use this configuration, we just specify the relevant option when configuring the sec

[2021-09-08 22:14] devklick commented on #58
One thing I forgot to mention is that I've introduced two new package dependencies as part of this work:
- `AWSSDK.Extensions.NETCore.Setup`
This is used for getting the AWS config section, by caling `IConfiguration.GetAWSOptions()`;
- `Microsoft.Extensions.Configuration.Binder`
This is used for getting the custom config section, by calling `IConfiguration.GetSection("MySection").Get<MyClass>();`

[2021-09-09 09:55] Kralizek commented on #58
Thanks for trying this :)

I like the approach you're taking. I just wonder if `AcceptedArns` should be merged or replaced. I can see the value of both approaches.

As for the additional dependencies, I don't mind the Microsoft one but I'd avoid, if feasible, pulling in the AWS one. It's not much about the weight of the packages, rather the semantic behind this dependency for the users of this lib

[2021-09-09 10:18] kpenergy commented on #58
Good challenge RE merge or replace.

One of the main benefits that I see of using JSON config files to specify `AcceptedArns ` is having a different list for different environments. However you may have some ARNs which are relevant in both environments. Personally, I would probably write the common ARNs once in code rather than duplicate in multiple JSON files, so I'd rather they were combined. Bu

[2021-09-09 13:06] Kralizek commented on #58
Are @devklick and @kpenergy the same person? 🤔

[2021-09-09 13:07] kpenergy commented on #58
Yeah sorry for confusion, personal and work account :)

[2021-09-15 22:14] devklick commented on #58
I've been really struggling writing unit tests that cover this new functionality. Mocking the various `IConfiguration*` interfaces to return the appropriate values, for the SUT to then bind these to the relevant object, gets overly complex. It would be simple if the bind functionality (in this case, we call the `IConfigurationSection.Get<T>()` method) was not an extension method and could be mocke

[2021-09-16 09:17] Kralizek commented on #58
@devklick thanks for your effort. Usually when I have to test stuff that uses `Microsoft.Extensions.Configuration` and `Microsoft.Extensions.DependencyInjection` I end up using the concrete types rather than mocking the interfaces. I am aware it pushes towards integration tests but I prefer that to having complicated but "pure" unit tests.

When it comes to `Configuration`, I rely on the InMemory

[2021-09-17 17:01] devklick commented on #58
The problem I was hitting when using the concrete type for configuration was verifying that the `SecretsManagerConfigurationSource` had been added (and the contents of course). We cant hook into the `IConfigurationBuilder.Add()` method to verify what was added. I figured we could maybe build the concrete builder and try to fetch the `SecretsManagerConfigurationSource`, but doing so obviously build

[2021-11-09 17:37] marknadig opened #62 "Not merging options"
I hope this is something simple I'm missing.  It appears that the settings coming from Secrets Manager aren't merged under the same key from appsettings.json.

In my appsettings.json I have this
`
"JWT": {
    "ValidAudience": "http://localhost:4200",
    "ValidIssuer": "http://localhost:61955"
  },
`

In AWS Secrets Manager I've got a secret named "MyBrokerDev" that contains a number or key/value

[2021-11-09 19:53] marknadig commented on #62
After looking more, I do see the that it seems the secrets from Secrets Manager seem to be prefixed with the secret name. e.g. My secret name is MyBrokerDev and contains raw:
`{ "Database__ConnectString": "...", "JWT__Secret": "ThisIsTheJWTSecret" }`

The configuration variables from SM appear to be nested beneath "MyBrokerDev"; e.g.
[code]

[2021-11-09 22:30] marknadig commented on #62
Seems this is by design that the secret name is prepended. In my KeyGenerator I now strip it
[code]

[2021-11-09 22:30] #62 closed

[2021-11-11 09:19] Kralizek commented on #62
Hi @marknadig sorry for the slow answer. I'm happy you found a solution to your issue before I could intervene. Please let me know if you have more questions.

[2021-11-11 22:47] marknadig commented on #62
Not at all @Kralizek , I sympathize with maintainers.
I appreciate you making your library open source.

[2022-01-12 15:12] rhires opened #63 "Update for .NET Core 6?"
Hello - can the sample code get updated for .NET Core 6, since the Startup and Program.cs files are not one in the same, and this all looks different now. Thanks!

[2022-01-12 15:44] Kralizek commented on #63
Hi, I currently don't have the time.

The implementation is pretty simple, you can look at this amazing post by Andrew Lock: https://andrewlock.net/exploring-dotnet-6-part-1-looking-inside-configurationmanager-in-dotnet-6/

If you want, I'd gladly accept a PR that adds a sample based on a .NET 6 application.

[2022-01-13 14:19] rhires commented on #63
Thanks! I'll have to finish reading all of Andrew Lock's posts first lol -

I was also thinking that there might be a way to "genericize" this in such a way that it can be added to .NET Core to be the other half of secrets management (The first being `AddUserSecrets()`). That way when running as a given user in IIS or nginx (or whatever), it can grab the secrets from the external secrets store lik

[2022-01-13 14:19] #63 closed

[2022-03-13 11:35] aensithe opened #64 "My coming out"
@aensidhe

Hello everyone, I'm Anatoly Popov and I love and support Russia.

Do you support **Russia**?

Reach out to me:
[blog](https://aensidhe.ru/)
[twitter](https://twitter.com/aensidhe)
[linkedin](https://www.linkedin.com/in/anatolypopov/)
[telegram](https://t.me/aensidhe)

[2022-03-13 13:09] Kralizek commented on #64
Please avoid opening issues about political topics

[2022-03-13 13:09] #64 closed

[2022-04-08 18:13] udlose commented on #40
@Kralizek can you please clarify what this means?  Is there a special syntax or order of dependencies in the .csproj?  I've never heard of "pinning" a reference

[2022-04-08 19:01] udlose commented on #38
@kpenergy  it looks as if this was recently updated and uses AWSSDK.SecretsManager 3.7.1.0 (as of today):

https://github.com/aws/aws-secretsmanager-caching-net/blob/808a54495b412bc78d4e969837873eb9c40d009a/src/Amazon.SecretsManager.Extensions.Caching/Amazon.SecretsManager.Extensions.Caching.csproj#L25

[2022-04-08 19:58] Kralizek commented on #40
Hi! Check the pinned issue :)

[2022-04-20 02:16] davidchavezgrant opened #65 "Secret filtering on fetch unit test is unclear"
This passing test in SecretsManagerConfigurationProviderTests appears to be attempting a test on filtering:

    [Test, CustomAutoData]
    public void Secrets_can_be_filtered_out_via_options_on_fetching([...])
    {
        options.ListSecretsFilters = new List<Filter> { new Filter { Key = FilterNameStringType.Name, Values = new List<string> { testEntry.Name } } };

        Mock.Get(secretsManage

[2022-04-20 09:24] Kralizek commented on #65
Hi @davidchavezgrant, thank you for opening this issue. Right now I'm quite busy at work but I'll try to get back to you as soon as possible.

[2022-05-17 06:47] dat0609 opened #66 "Unable to get IAM security credentials from EC2 Instance Metadata Service"
How can use AWS secret when I deploy into production. I'm using .net6 and used docker to deploy into azure but in production, I got the error "Unable to get IAM security credentials from EC2 Instance Metadata Service"
I'm adding credentials for AWS secret manager. It works when I change the environment variable to production but does not work when I deployed

I have tried 6 samples but nothing wor

[2022-05-17 08:38] Kralizek commented on #66
Hi! Since you're running your container in Azure, I guess you'll need to use a fully flashed out user to authorize your calls towards AWS.

I'd consider putting the keys into whatever secure storage Azure offers and use them as environment variables in the container.

[2022-06-01 21:59] rossobianero opened #67 "Flatten database secrets to ConnectionString entry?"
I am sorry if this has been covered already.  I cannot find anything like it in discussion.

AWS database secrets are dictionaries.  Say I have specified a DB secret for an application called MyApplication:
{"username":"myuser","password":"mypassword","engine":"sqlserver","host":"mysqlserver","port":"1433","dbname":"mysqldb"}

I would like to convert this to a ConnectionString entry in my configur

[2022-06-05 16:42] goenning opened #68 "Replace Newtownsoft with System.Text.Json"
If I contributed with a PR to replace newtownsoft json with System.Text.Json, would you accept it?

[2022-06-05 18:05] Kralizek commented on #68
This could be an interesting development. I wonder if replacing is the right way to go. An alternative would be to mirror the package with support for STJ instead of NSJ. just thinking aloud.

[2022-06-05 18:49] goenning commented on #68
But in that case, what would be the benefits of using NSJ instead of STJ though? Microsoft has been moving all their packages to use STJ, it's faster and comes pre-installed on .net core 3+.

From my perspective, removing NSJ from this packages means there's one less dependency on .net apps: smaller builds/images, faster deployments, etc.

[2022-06-07 12:35] Kralizek commented on #68
I see your point and I agree with you. I'm just trying to find a way to hold from releasing a major version unless it's really needed.

[2022-08-05 02:09] gao87926 commented on #57
There is a walkaround, https://andrewlock.net/secure-secrets-storage-for-asp-net-core-with-aws-secrets-manager-part-2/

Basically, build you config first time, load appsettings, then addSecretManager can use the params from config, at the end, the  builder have to build again

[2022-08-09 18:57] jcanady20 commented on #68
I have a working PR that addresses this.

[2022-09-08 21:13] Kralizek commented on #68
Closing since it was fixed with #71

[2022-09-08 21:13] #68 closed

[2022-09-23 19:53] Trevortni opened #74 "ECS: Unable to get IAM security credentials from EC2 Instance Metadata Service"
I'm trying to use this in an ECS Task, and I'm getting the error "Unable to get IAM security credentials from EC2 Instance Metadata Service."

I have set up policies on my ECS Task role to provide access to the specific Secrets I am trying to access, as well as KMS and Session Manager, according to https://aws.amazon.com/premiumsupport/knowledge-center/ecs-data-security-container-task/ and a few o

[2022-09-24 09:45] Kralizek commented on #74
Could you share your setup code?

[2022-09-26 16:28] Trevortni commented on #74
Do you mean this?

`
    public class Program
    {
        public static void Main(string[] args)
        {
            CreateHostBuilder(args).Build().Run();
        }

        public static IHostBuilder CreateHostBuilder(string[] args) =>
            Host.CreateDefaultBuilder(args)
                .ConfigureAppConfiguration((hostingContext, config) =>
                {
#if !DEBUG

[2022-10-25 20:31] avalara-stephen-hickey opened #75 "Specify --version-stage AWSCURRENT in GetSecretValue"
## Background
There are times when it's required to specify the version stage when performing `secretsmanager:GetSecretValue`.

In my case, when accessing a secret in a different AWS account, that has been shared to a credential I've grabbed from the CredentialProfileStoreChain, I am only able to access the secret when specifying `--version-stage AWSCURRENT`.

[code]

In the previous code block, w

[2022-10-25 22:52] Kralizek commented on #75
I'm not sure this is the best approach. I can't understand the side effects for other users of this library.

@normj maybe could shed some lights on this?

Alternatively, I'd rather add to the configuration a delegate that allows the customization of the request before its sent.

I know the configuration is getting a bit crowded with many properties, but I'm really afraid of a change that could ca

[2022-10-26 00:32] jxwaters opened #76 "What IAM permissions are needed for this to work?"
I get this error message:

Amazon.SecretsManager.AmazonSecretsManagerException: User: [obfuscated] is not authorized to perform: secretsmanager:ListSecrets because no permissions boundary allows the secretsmanager:ListSecrets action

I have verified the user has Allow: secretsmanager:ListSecrets

[2022-10-26 01:46] normj commented on #75
That is interesting that going across accounts is requiring `AWSCURRENT` to be set. For my own education I would be curious on how the resource policy is configured, is it using a specific secret arn or wildcard and does that make a difference.

I don't think @avalara-stephen-hickey suggestion will have any negative side effects for other users but there is the question do you want provide the abi

[2022-10-26 08:55] Kralizek commented on #75
Thank you @normj for your input.

I see the request customization delegate a way to solve this issue and potentially handle future needs like the one you mention.

Anyway, maybe it's a policy configuration error. @avalara-stephen-hickey would it be ok for you to share a sanitized version of your policy?

[2022-10-26 09:36] Kralizek commented on #76
Uhm, not sure about the boundaries. But the library requires ListSecrets and GetSecretValue (going by memory, I'll check once at the office).

Could you write here the relevant (properly obfuscated) policy?

Also, it might be a good addition to the readme to mention the required permissions.

[2022-10-26 13:27] avalara-stephen-hickey commented on #75
I appreciate the quick response!

As far as I understand, there wouldn't be any affect on other users since this is supposed to be the default behavior anyway. But I understand your fear that it may affect other users because it's documented as the default behavior but somehow is also required in this scenario. This behavior my company has documented and the following note is attached to every sec

[2022-10-26 14:11] avalara-stephen-hickey commented on #76
You may also need the `kms:Decrypt` permission if the secret is encrypted using a customer-managed key.

[2022-10-27 20:15] avalara-stephen-hickey commented on #75
Here's a proposed change, let me know what you think.

[2022-11-01 14:02] avalara-stephen-hickey commented on #67
IMO your options are to change the secret to be the entire connection string as a single item or to manually build the connection string from configuration like this:

[code]

[2022-11-04 20:52] #75 closed

[2022-11-07 19:00] avalara-stephen-hickey commented on #75
@Kralizek thanks for merging the change! What is your release cadence for minor versions so I can know when to expect to include it?

[2022-11-07 19:01] Kralizek commented on #75
I wanted to check the other PR and then release a 2.0

[2022-11-07 22:47] #76 closed

[2022-11-07 22:50] jxwaters opened #78 "The code is using ListSecrets even though I have both defined AcceptedSecretArns and SecretsFilter"
When deployed to AWS, it fails calling

 Kralizek.Extensions.Configuration.Internal.SecretsManagerConfigurationProvider.FetchAllSecretsAsync(CancellationToken cancellationToken)

With error

---> Amazon.SecretsManager.AmazonSecretsManagerException: User: arn:aws:sts::***REDACTED** is not authorized to perform: secretsmanager:ListSecrets because no identity-based policy allows the secretsmanager:Li

[2022-11-08 00:19] Kralizek commented on #78
As it is right now, the secretsmanager:ListSecrets API is invoked at least once. I can see why this could be an unexpected behavior and I think it's ok marking it as a bug or anyway something that can be fixed within the scope of the 2.0 release.

https://github.com/Kralizek/AWSSecretsManagerConfigurationExtensions/blob/6c8d0393a75cfdae0462fad5849920f15cb4f60d/src/Kralizek.Extensions.Configuration

[2022-11-08 00:36] jxwaters commented on #78
Actually, it was user error, it DOES work with AcceptedSecretARNs defined.

   if (Options.AcceptedSecretArns.Count > 0)
     {
         return Options.AcceptedSecretArns.Select(x => new SecretListEntry{ARN = x, Name = x}).ToList();
     }

[2022-11-08 00:36] #78 closed

[2022-11-08 14:20] Kralizek commented on #75
@avalara-stephen-hickey I've done of move around of the commits so that the PR you worked on can be released as 1.7 without waiting for me to release the 2.0. Would you be ok fetching the artifacts and try them before I publish an actual release?

[2022-11-08 14:21] avalara-stephen-hickey commented on #75
Yeah, I'll look into that today.

[2022-11-08 14:25] Kralizek commented on #75
Thanks. I'll let you know when it's ready and add a comment to the build in AppVeyor.

[2022-11-08 14:56] Kralizek commented on #75
Here you go.

https://www.nuget.org/packages/Kralizek.Extensions.Configuration.AWSSecretsManager/1.7.0

[2022-11-08 15:53] avalara-stephen-hickey commented on #75
I've confirmed 1.7.0 solves the issue I was having. Thank you for your time and help!

[2022-11-08 19:16] Kralizek commented on #75
Great to hear. Thank you for your help!

Would you mind giving a look at #80 and see if you like what I'm cooking there?

[2022-11-18 21:49] ConnerOrth commented on #67
You are free to use below code snippet to have a reusable way to flatten the 'amazon rds as a amazon secret' with implicit conversion to string.
The only thing you need to provide in the appsettings.json connectionstrings section is the database/initial catalog name.

`csharp
var configuration = host.Services.GetService<IConfiguration>();
AmazonRDSConnectionString connectionstringAsObject = GetCon